<component name="ArtifactManager">
  <artifact type="war" name="SpringMaCNSS:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMaCNSS</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="macnss-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMaCNSS:war exploded" />
    </root>
  </artifact>
</component>